<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:appCategory="audio">

        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.Plexora" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.Plexora">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
